{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
</head>

<body>
<div id="header">
        <span class="logo">用户管理>>></span>
        {% if request.user.is_authenticated %}
        <ul class="menu">
            <li {% if section == "blog" %}class="selected"{% endif %}><a href=#>My Blog</a></li>
            <li {% if section == "account" %}class="selected"{% endif %}><a href=#>Account</a></li>
        </ul>
        {% endif %}
        
        <span class="user">
        {% if request.user.is_authenticated %}
            Hello {{ request.user.username }}, <a href=#>Logout</a>
        {% endif %}
        </span>

        <span class="home">
            <a href=#>Index</a>
        </span>
</div>
    
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">×</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>