{% extends "includes/dynatag_base.html" %}
{% block title %} Application {% endblock %}
{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-app="myapp" ng-controller="appctl">
	
     <h1 class="page-header">Application</h1>

          {% if messages %}
        	<ul class="messages">
            	{% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">×</a>
                </li>
            	{% endfor %}
        	</ul>
    		{% endif %}
    
    <form class="form-inline" ng-init="client_id='{{clientid}}'; redirect_url='{{redirecturl}}'; response_type='{{responsetype}}'">
    	<div class="form-group">
    		<label>client_id</label>
    		<input type="text" class="form-control" ng-model="client_id">
    	</div>
    	<div class="form-group">
    		<label>redirect_url</label>
    		<input type="text" class="form-control" ng-model="redirect_url">
    	</div>
    	<div class="form-group">
    		<label>response_type</label>
    		<input type="text" class="form-control" ng-model="response_type">
    	</div>
    	<div class="form-group">
    		<label>scope</label>
    		<input type="text" class="form-control" ng-model="scope">
    	</div>
    	<button class="btn btn-default" ng-click="registerinfusion()">register Infusionsoft</button>
    
    </form>  	
    	
    	
    
      
    {% verbatim %}
    
    	your input: {{client_id}}||{{redirect_url}}||{{response_type}}||{{scope}}
    
    {% endverbatim %}  
    
    <h2 class="sub-header"></h2>
	<h2 class="sub-header">Section title</h2>
	
		{{code}} <hr>
		{{scope}} <hr>
		{{appname}} <hr>
		{{state}} <hr>
	
	
</div>
{% endblock %}